@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

html {
  overflow: auto;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

.main-open {
  width: calc(100% - 16rem);
  overflow: auto;
  position: relative;
  left: 16rem;
  transition: 0.3s ease-in-out;
}

.main-closed {
  width: 100%;
  left: 0;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 800px) {
  .main-open,
  .main-closed {
    width: 100%;
    margin-left: 0;
  }
}

.icon-fade {
  transition: opacity 0.5s ease-in-out;
}

.icon-fade:hover {
  opacity: 0.7; 
}

main {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  overflow: auto;
}
 
@layer base {
  :root {
    --header: #2464CF;
    --drawer: #FFF;
    --inputBar: #ffffff;
    --inputBarHover: #F5F5F5;
    --itemHover: #F0F6FC;
    --layout: #FFF;
    --main: #FAF9F8;
    --alert: rgb(185 28 28);
    
    --task: #FFFFFF;
    --darktask: #F0F6FC;
    --highlight: #2464CF;
    --itemBorder: #e1dfdd;
    --btnOutline: #605E5C;
    --btn: #2464CF;
    --lightest: #ffffff;
    --bodyText: #605E5C;
    --subtext: #6C6A68;
    --completed: #00D300;
    --completedBg: #e1dfdd;
    --default-color: #2464CF;
    --high-contrast: #000000;

    --background: #FAF9F8;;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: #FFFFFF;
    --popover-foreground: #6C6A68;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #6C6A68;
    --input: 214.3 31.8% 91.4%;
    --ring: #6C6A68;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --header: #1B1A19;
    --drawer: #252423;
    --inputBar: #252423;
    --inputBarHover: #323130;
    --itemHover: #3B3A39;
    --highlight: #fff;
    --layout: #0D1B2A;
    --main: #121212;
    --alert: rgb(239 68 68);
    --task: #252423;
    --darktask: #323130;
    --darkest: #020817;
    --itemBorder: #e1dfdd;
    --btnOutline: #605E5C;
    --btn: #2464CF;
    --lightest: #ffffff;
    --bodyText: #ffffff;
    --subtext: #A19F9D;
    --completed: #00D300;
    --default-color: #2464CF;
    --completedBg: #e1dfdd;
    --background: #11100F;
    --foreground: #fff;
    --high-contrast: #ffffff;
 
    --card: #fff;
    --card-foreground: #fff;
 
    --popover: #212121;
    --popover-foreground: #F5F5F5;
 
    --primary: #fff;
    --primary-foreground: #fff;
 
    --secondary: #fff;
    --secondary-foreground: #fff;
 
    --muted: #323130;
    --muted-foreground: #fff;
 
    --accent: #fff;
    --accent-foreground: #212121;
 
    --destructive: #fff;
    --destructive-foreground: #fff;
 
    --border: #fff;
    --input: #fff;
    --ring: #fff;
  }
}

@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

.skeleton-loader {
  background: linear-gradient(to right, #f0f0f0 8%, #ededed 18%, #f0f0f0 33%);
  background-size: 1000px 100%;
}

.input-no-border {
  border: none;
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Example shadow */
}

input {
  font-size: 16px !important;
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}