@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

html {
  overflow-y: scroll;
}

body {
  margin-right: 0 !important;
}

/* Add these styles in your global CSS file */
.sidebar-open {
  width: 16rem; /* same as your drawerWidth */
}

.main-open, .main-closed {
  transition: margin-left 0.5s ease-in-out;
}

.main-open {
  margin-left: 16rem; /* same as your drawerWidth */
}

.main-closed {
  margin-left: 0;
}

.icon-fade {
  transition: opacity 0.5s ease-in-out;
}

.icon-fade:hover {
  opacity: 0.7; /* Optional: change the opacity on hover for a nice effect */
}

main {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}
 
@layer base {
  :root {
    --header: #2464CF;
    --drawer: #FFF;
    --inputBar: #ffffff;
    --inputBarHover: #F5F5F5;
    --itemHover: #F0F6FC;
    --layout: #FFF;
    --main: #FAF9F8;
    --task: #FFFFFF;
    --darktask: #F0F6FC;
    --highlight: #2464CF;
    --itemBorder: #e1dfdd;
    --btnOutline: #605E5C;
    --btn: #2464CF;
    --lightest: #ffffff;
    --bodyText: #605E5C;
    --subtext: #6C6A68;
    --completed: #22C55E;
    --default-color: #2464CF;

    --background: #FFF;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: #212121;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --header: #1B1A19;
    --drawer: #252423;
    --inputBar: #252423;
    --inputBarHover: #323130;
    --itemHover: #3B3A39;
    --highlight: #78BAFD;
    --layout: #0D1B2A;
    --main: #121212;
    --task: #252423;
    --darktask: #323130;
    --darkest: #020817;
    --itemBorder: #e1dfdd;
    --btnOutline: #605E5C;
    --btn: #2464CF;
    --lightest: #ffffff;
    --bodyText: #ffffff;
    --subtext: #A19F9D;
    --completed: #22C55E;
    --default-color: #e1dfdd;

    --background: #11100F;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: #212121;
    --popover-foreground: #F5F5F5;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: #323130;
    --muted-foreground: #fff;
 
    --accent: #fff;
    --accent-foreground: #212121;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

.skeleton-loader {
  background: linear-gradient(to right, #f0f0f0 8%, #ededed 18%, #f0f0f0 33%);
  background-size: 1000px 100%;
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}